 @{
    ViewData["Title"] = "Category List";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model IEnumerable<Category>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">CATEGORY LIST</h3>

    </div>

<section class="content-header">
    <h1>
    Category
    </h1>
        <ol class="breadcrumb float-sm-right">
            <li><a asp-controller="dashboard" asp-action="index"><i class="fa fa-dashboard"></i>Home</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="#">Category List</a></li>
        </ol>
</section>

 <!-- form start -->

 <div class="row">
                        <div class="col-12">

            @if (ViewBag.msg != null)
            {
                if (ViewBag.msg == "Done")
                {
                    <div class="callout callout-success">
                        <h4>Successful</h4>
                    </div>
                }
                else
                {
                    <div class="callout callout-danger">
                        <h4>Failed</h4>
                    </div>
                }

            }
                            <div class="card">
                                <div class="card-header">

                                    <div class="card-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var category in Model)
                                            {
                                               <tr>
                                                 <td>@category.Id</td>
                                                 <td>@category.Name</td>
                                                 <td>@(category.Status ? "Active" : "Inactive")</td>
                                                 <td>
                                        <a asp-controller="category" asp-action="edit" asp-route-id="@category.Id">Edit</a>|

                                        <a asp-controller="category" asp-action="delete" asp-route-id="@category.Id"
                                                      onclick="return confirm('Are you sure')">Delete</a>
                                                  </td>
                                              </tr>
                                         }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>


    <script>
        $(function () {  
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>


